<div class="middle-login">
    <div class="block-flat">
        <div class="header">
            <h3 class="text-center">Razberi</h3>
        </div>
        <div>
            <form style="margin-bottom: 0px !important;" class="form-horizontal">
                <div class="content">
                    <h4 class="title">Please sign in with your Razberi account.</h4>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" placeholder="Username" id="username" ng-model="username" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" placeholder="Password" id="password" ng-model="password" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="foot">
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="confirm()">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
